pandas>=1.5.0,<2.0
biopython>=1.79,<1.80
matplotlib>=3.5.0,<4.0
openpyxl>=3.0.0,<4.0
xlsxwriter>=3.0.0,<4.0
streamlit>=1.28.0,<1.29        
pyarrow>=12.0.1,<13.0          
requests>=2.28.0,<3.0
beautifulsoup4>=4.11.0,<5.0
python-dotenv>=0.19.0,<1.0
kaleido>=0.2.1,<1.0
plotly>=5.10.0,<6.0
